node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Compiled JS files
config.js
MedicalInfo.js
PersonalInfo.js
QuestionResponse.js
User.js
UserDataHandler.js
firebaseCRUDtest.js
PersonalDetails.js
WarningSigns.js